[submodule "redis"]
	path = redis
	url = https://github.com/pcmoritz/redis
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc
[submodule "etcd3-cpp"]
	path = etcd3
	url = https://github.com/graysonchao/etcd3-cpp
