[submodule "redis"]
	path = redis
	url = https://github.com/pcmoritz/redis
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "leveldb"]
	path = leveldb
	url = git@github.com:google/leveldb.git
